---
export async function getStaticPaths() {
    // https://docs.astro.build/en/guides/routing/
    // https://chatgpt.com/share/69d8233d-4f38-8395-948e-7bd023f747e9
    const response = await fetch("https://openlibrary.org/search.json?q=books");
    const data = await response.json();
    const books = data.docs.slice(0, 10);
    return books.map((book: any) => {
        return {
            params: {
                id: book.key.replace(/^\//, ""),
            },
        };
    });
    
          
}

const { id } = Astro.params;
const response = await fetch(`https://openlibrary.org/${id}.json`);
if (!response.ok) {
	throw new Error(`API error: ${response.status}`);
}
const book = await response.json();
// const bookPath = Array.isArray(id) ? id.join("/") : id;


---

<h1>{book.title}</h1>
<p>
    {
        typeof book.description === "object"
            ? book.description.value
            : book.description || "No description available"
    }
</p>
